* {
  box-sizing: border-box;
  background-color: #365059;
  color: black;
  font-family: Courier, monospace;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-family: Times, serif;    
}

h2 {
  background-color: inherit;
  font-size: 24px;
  font-family: Times, serif;
  text-align: center;
}

p, ul, li, a {
  background-color: inherit;
}

p span {
  background-color: inherit;
  color:inherit;
  text-decoration: underline;
  font-style: italic;
}

img {
  display: block;
  max-height: 600px;
  height:auto;
  max-width:100%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}

img.icon {
  display:initial;
  position: relative;
  margin-right: 7px;
  bottom: -5px;
  background-color:inherit;
  width: 20px; 
  height: auto;
}

img.profil {
  padding:7px;
  max-width: 250px;
}

/*---------- Sidans top ----------*/
.top, .top h1 {
  background-color:#365059;
  padding:15px;
  text-align:center;
}

.top img {
  display:initial;
  height:100px;
  width:auto;
  margin: 20px;
  
}

/*---------- div som innehåller meny, main och right ----------*/
.center {
  overflow: auto;
  background-color: #FDF9ED;
}

figure, figcaption, figcaption a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 90%;
  text-align: center;
  caption-side: bottom;
  font-style: italic;
  color:inherit;
  background-color: inherit;
}


/*---------- Sidans meny ----------*/
.menu {
  float: left;
  width: 20%;
  text-align: center;
  background-color: inherit;
}

.menu a {
  background-color: #C9D9DE;
  color: black;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  width: 100%;
  opacity: 70%;
  text-decoration: none;
}

.menu a.enabled {
  transition-duration: 0.4s;
  opacity:1;
  text-decoration: underline;
}

.menu a.enabled:hover {
  background-color: #365059;
  color: white;
}

/*---------- Mittersta panelen standard ----------*/
.main {
  background-color: inherit;
  float: left;
  width: 60%;
  padding: 7px 20px;
}

/*---------- team uppställningen på om oss sidans mittersta panel ----------*/

div#team, div.team-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: inherit;
}

div.team-medlem {
  margin: 14px;
  padding:14px;
  min-width: 150px;
  max-width: 300px;
  background-color: #365059;
  color: white;
  text-align: center;
}

.team-medlem h3, .team-medlem p {
  color: inherit;
  background-color: inherit;
}

/*---------- formulär på kontakta oss sidan ----------*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #FDF9ED;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #FDF9ED;
}

input[type=submit] {
  align-self:right;
  background-color: #FDF9ED;
  color: black;
  padding: 12px 20px;
  border: solid #365059;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: #365059;
  color:white;
}

.contact-form {
  border-radius: 5px;
  background-color: #C9D9DE;
  padding: 20px;
}

.contact-form form, .contact-form label {
  background-color: #C9D9DE;
}

/*---------- Högra panelen ----------*/
.right {
  transition-duration: 0.5s;
  background-color: #C9D9DE;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.right:hover {
  background-color: #365059;
  color: white;
}

.right h2, .right p {
  background-color: inherit;
  color: inherit;
  margin-bottom: 15px;
}


/*---------- Sidans footer ----------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#365059;
  text-align:center;
  padding:10px;
  margin-top:7px;
}

.footer p, .footer img {
  background-color:#365059;
  color:white;
}

.footer a {
  width: 100%;
  color: white;
  background-color:#365059;
  text-decoration:none;
}

.footer a.enabled {
  transition-duration: 0.4s;
}

.footer a.enabled:hover {
  color:black;
}

/*Storleksanpassning för mobiler*/
@media only screen and (max-width: 800px) {
  .menu, .main, .right, .contact-form input[type=submit]{
    width: 100%;
    margin-top: 0;
  }
}