* {
  box-sizing: border-box;
  background-color: #FDF9ED;
  color: black;
  font-family: Courier, monospace;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-family: Times, serif;    
}

h2 {
  font-size: 24px;
  font-family: Times, serif;
}

img {
  max-width:100%;
  background-color: inherit;
  height:auto;
}

/*Storleksanpassning för mobiler*/
@media only screen and (max-width: 620px) {
  .menu, .main, .right {
    width: 100%;
  }
}

/*---------- Sidans top ----------*/
.top {
  background-color:#365059;
  padding:15px;
  text-align:center;
}

.top img {
  width: auto;
  height: 100px;
  margin: 20px;

}

.top h1 {
  background-color: #365059;
  color: white;
}

/*---------- Sidans meny ----------*/
.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #C9D9DE;
  color: black;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  width: 100%;
  opacity: 70%;
  text-decoration: none;
}

.menu a.enabled {
  transition-duration: 0.4s;
  opacity:1;
  text-decoration: underline;
}

.menu a.enabled:hover {
  background-color: #365059;
  color: white;
}

.menu p {
  background-color: #365059;
  opacity: 70%;
  cursor:not-allowed;
  color: white;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  width: 100%;
}

/*---------- Mittersta panelen ----------*/
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

/*---------- Högra panelen ----------*/
.right {
  transition-duration: 0.5s;
  background-color: #C9D9DE;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.right:hover {
  background-color: #365059;
  color: white;
}

.right h2 {
  background-color: inherit;
  color: inherit;
  margin-bottom: 15px;
}

.right p {
  background-color: inherit;
  color: inherit;
}

/*---------- Sidans footer ----------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#365059;
  text-align:center;
  padding:10px;
  margin-top:7px;
}

.footer p {
  background-color:#365059;
  color:white;
}

/* Instagram länken i footern */
.footer a {
  display: block;
  width: 100%;
  color: white;
  background-color:#365059;
  text-decoration:none;
}

.footer a.enabled {
  transition-duration: 0.4s;
}

.footer a.enabled:hover {
  color:black;
}

.footer img {
  background-color:#365059;
}

.icon {
  position: relative;
  margin-right: 7px;
  bottom: -5px;
  background-color:inherit;
  width: 20px;
  height: auto;
}
